/* css du slider */

.elements_slide_slider1 {
    position: relative;
}

.img_slider1  {
    width: 100%;  
}

.figcaption_slider1 {
    
    position: absolute;
    top: 80%;
    left: 30%;    
    font-family: 'catamaranextrabold', arial, sans-serif;
    text-align: left;
    font-size: 80px;
    color: #0d3866;
    z-index: 10;     
}

#figcaption_img1_slider1 {
    top: 63%;
    left: 33%;
    text-align: right;
    font-size: 80px;
    line-height: 150%;
    width: 65%; 
}

.background_figcaption_slider1, .background_figcaption_img1_slider1 {
    position: absolute;  
    width: 100%;
    background-color: rgba(224, 239, 255, 0.8); 
}

.background_figcaption_slider1 {
    top: 70%;
    height: 30%;
}

.background_figcaption_img1_slider1 {
    top: 65%;
    height: 35%;
}

.text_facile {
    color: #cb1a19;
    font-size: 85px;
    text-transform: uppercase;
    font-family: 'catamaranblack', arial, sans-serif;
    font-weight: 800;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    position: absolute;
    top: 50%;
    font-size: 300%;
    color: #cb1a19;
    
    
}

.fa-chevron-circle-right {
    right: 1%;
}

.fa-chevron-circle-left {
    left: 1%;
}